.assignment {
  width: 100%;
  background: #262626;
  border: 1px solid #333333;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.assignment p {
  font-size: 14px;
  line-height: 19px;
  color: #f2f2f2;
  margin-right: auto;
}

p.textCompleted {
  color: #808080;
  text-decoration: line-through;
}




.deleteButton {
  background: none;
  border: none;
  color: red;
}







.checkbox {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333; /* Dark color */
  border: 1px solid #333; /* Dark border */
}

.checkbox input:checked + .checkmark {
  background-color: #fff; /* White color when checked */
  border: 1px solid #007bff; /* Blue border when checked */
}

.checkbox input:checked + .checkmark::after {
  content: "\2713"; /* Checkmark character */
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #007bff; /* Blue color for the checkmark */
  font-size: 10px;
  font-weight: bold;
}
